body{
  font:13px/1.1em liberation mono;
  /* letter-spacing: 1px; */
  background:black;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
header{
  flex:1 1 100%;
  display: none;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #777;
  align-items: center;
  justify-content: space-around;
  padding:0 5px;
  color:white;
}
.debug header{
  display: flex;
}

.videobox{
  width: 90%;
  height:90%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.offset, .start, .load{
  display: none;
}
.video{
  border-radius: 2px;
  width:100%;
  height: auto;
}
.videobox footer{
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-around;
  bottom: 0;
  left:0px;
  background: rgba(0,0,0,.7);
  color: white;
  padding: 0px;
}
main {
  padding:5vh;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:  ". . donfi donfu donfo . ."
                        ". donf . . . donfota ."
                        "don . . . . . donfotadimba"
                        ". donda . dondadi . dondadifo .";
}

#don { grid-area: don; }
#donf { grid-area: donf; }
#donfi { grid-area: donfi; }
#donfu { grid-area: donfu; }
#donfo { grid-area: donfo; }
#donfota { grid-area: donfota; }
#donfotadimba { grid-area: donfotadimba; }
#dondadifo { grid-area: dondadifo; }
#dondadi { grid-area: dondadi; }
#donda { grid-area: donda; }

.name{
  text-transform: uppercase;
}
.sig{
  border:1px solid white;
  padding:2px 4px 0px 4px;
  text-align: center;
}

button{
  width:20px;
  height:20px;
  padding: 5px;
  background: #555;
  text-align: center;
}
button:active{
  background: #ccc;
}
#vue{
  width:30px;
  height:30px;
  border-radius:30px;
}
body.tic #vue{
  background:white;
}
body.tic .playing .sig{
  background:white;
  color:black;
}

.line {
  position: fixed;
  height: 1px;
  width: 1px;
  transform-origin: 0;
  background: rgba(255, 255, 255, .5);
  z-index: -1;
}
