@font-face {
    font-family: 'Whois';
    src: url('hinted-Whois-mono.eot');
    src: url('hinted-Whois-mono.eot?#iefix') format('embedded-opentype'),
        url('hinted-Whois-mono.woff2') format('woff2'),
        url('hinted-Whois-mono.woff') format('woff'),
        url('hinted-Whois-mono.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

